# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

build_live.sh
coverage/
dist/
node_modules/
#hooks/
platforms/
plugins/
www/
.idea
target
server/XendServer/deploy.sh
*.apk
*.apk
rc.txt
minor_version.txt
major_version.txt
nbproject
.DS_Store
.sourcemaps/
.vscode/
typings/
.idea
*.iml
package-lock.json
Desktop/node_modules
Desktop/Auth
.classpath
.project
.settings/
.sts4-cache/
Server/bin/
nb-configuration.xml
/server/XendServer/JavaTestBed/build/
*.abi
*.bin
