page-pin {
    body {
        cursor: url('http://ionicframework.com/img/finger.png'), auto;
    }
    .main-wrap {
        max-width: 250px;
        margin: auto
    }
    pin {
        font-weight: 2em;
    }
    .text-input {
        text-align: center;
        font-weight: bold;
    }
    .row,
    .col {
        text-align: center;
    }
    .col {
        margin: 5px !important;
        border-radius: 8px !important;
        padding: 15px 0px !important;
    }
}